[Unit]
Description=Status IO
 
[Service]
TimeoutStartSec=0
Restart=always
User=coderaiser

WorkingDirectory=/home/coderaiser/status-io
 
ExecStart=/home/coderaiser/.bin/node.js /home/coderaiser/status-io/bin/status.js
 
[Install]
WantedBy=multi-user.target

