[Unit]
Description=Status IO
 
[Service]
TimeoutStartSec=0
Restart=always
User=coderaiser

WorkingDirectory=/home/coderaiser/status-io

Environment=NODE_VERSION=node
 
ExecStart=/home/coderaiser/.nvm/nvm-exec /home/coderaiser/status-io/bin/status.js
 
[Install]
WantedBy=multi-user.target

