[Unit]
Description=Status IO
 
[Service]
TimeoutStartSec=0
Restart=always
User=coderaiser

WorkingDirectory=/home/coderaiser/status-io
 
ExecStart=/home/coderaiser/.nvm/versions/node/v7.6.0/bin/node bin/status.js
 
[Install]
WantedBy=multi-user.target

